<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
         cacheDirectory="build/phpunit-cache"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnSkippedTests="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerNotices="true"
>

  <testsuites>
    <testsuite name="BoxPacker">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <groups>
    <exclude>
      <group>efficiency-container</group>
      <group>efficiency-extreme</group>
      <group>efficiency-thorough</group>
    </exclude>
  </groups>

  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>

  <!-- no path coverage: Xdebug's path tracking slows down quadratically with the number of calls made in one run,
       which turned the search-heavy Thorough tests from seconds into hours -->
  <coverage pathCoverage="false">
    <report>
      <text outputFile="php://stdout" showUncoveredFiles="true"/>
      <html outputDirectory="build/coverage-phpunit"/>
      <clover outputFile="build/coverage-phpunit/clover.xml"/>
    </report>
  </coverage>

</phpunit>
